<a href="https://colab.research.google.com/github/saisunil1046/python_basics/blob/main/filter%2Cmap%26reduce_func_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#We can pass a function as argument to another function using filter, map and reduce functions
#Find out even numbers using filter() function without using lambda
def even(n):
  if n%2 == 0:
    return True
  else:
    return False

#filter syntax : filter(function,input_sequence)
n=[0,1,2,3,4,5,6,7,8,9]
l1 = filter(even,n)
print(l1) #which provides the type of filter function which itself is a funcion object
l1 = list(filter(even,n))
print(l1) # we need to convert to list from func object to get the results

<filter object at 0x7e153122a350>
[0, 2, 4, 6, 8]

In [ ]:
#Find out even numbers using filter() function with using lambda
n=[0,1,2,3,4,5,6,7,8,9]
l1 = list(filter(lambda n:n%2 == 0,n)) #using lambda func argument we can easily find the even numbers without writing even func and call it as a argument
print(l1)
odd = list(filter(lambda n:n%2 != 0,n))
print(odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
#map function will generate new value by performing some operation
n=[1,2,3,4,5]
l1 = map(lambda n:n*n,n)
print(l1) # gives map object same like filter func
l1 = list(map(lambda n:n*n,n))
print(l1)

#for multiple input sequences also map func is applicable
n1 = [1,2,3,4,5]
n2 = [6,7,8,9,10]

n3 = list(map(lambda x,y:x*y,n1,n2))
print(n3)

#even both sequences having different length but only upto common length the given operation will work

n1 = [1,2,3,4,5,6]
n2 = [6,7,8,9,10,20,30,40]

n3 = list(map(lambda x,y:x*y,n1,n2))
print(n3)

#multiple sequence input

n1 = [1,2,3,4,5,6]
n2 = [6,7,8,9,10,20]
n3 = [10,20,30,40,50]

n4 = list(map(lambda x,y,z:x+y+z,n1,n2,n3))
print(n4)

<map object at 0x7e14ff5fff10>
[1, 4, 9, 16, 25]
[6, 14, 24, 36, 50]
[6, 14, 24, 36, 50, 120]
[17, 29, 41, 53, 65]

In [ ]:
#reduce() func reduces sequence of elements into single element by applying specified function
#reduce(func,sequence)
#Note: reduce func is not inbuilt python function we have to import explicitly from functools module
from functools import reduce
l=[10,20,30,40]
result = reduce(lambda x,y:x+y,l)
print("sum of list:",result)
l=[10,20,30,40]
result = reduce(lambda x,y:x*y,l)
print("multiply of list:",result)

#sum of first 100 numbers by using reduce() func
result = reduce(lambda x,y:x+y, range(0,101))
print("sum of first 100 numbers:",result)

sum of list: 100
multiply of list: 240000
sum of first 100 numbers: 5050