In [ ]:
#Nested collections is list of tuples or list of dict etc.,
l1 = [(10,20,30),(40,50,60)]
print(l1[0][1]) # to print the first element in list of tuple
print(l1[1][0])
print(l1[1][2])

20
40
60

In [ ]:
d = {
    'cars':('volkwagen','Hyundai','Maruti'),
    'mobiles':{'VI','airtel','Nokia'}
}
#To display Second Car Name
print(d['cars'][1])
print(d.get('cars')[2])
for mobile in d.get('mobiles'):
  print(mobile)

Hyundai
Maruti
airtel
Nokia
VI